.mainButton{
    display: flex;
    gap: 12px;
    background-color: rgb(5, 27, 82);
    height: 54px;
    width: 223px;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
}

.cartImg{
    height: 1rem;
}

.mainText{
    font-size: 0.9rem;
    font-weight: 700;
}

.counter{
    background-color: rgb(18, 67, 189);
    border-radius: 1000px;
    width: 40px;
    text-align: center;
    font-weight: 700;
    padding: 1px;
    font-size: 0.9rem;
}

.mainButton:hover{
    transform: scale(1.04);
    cursor: pointer;
    background-color: black;
    transition: all 0.2s ease-in-out;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 610px){
    .mainButton{
        display: flex;
        /* flex-direction: column; */
        width: 90px;
        padding: 30px;
    }

    .cartImg{
        padding: 0;
    }

    .counter{
        background-color: transparent;
        padding: 0;
    }
    .mainText{
        display:none;
    }
}

