.menuCard{
    position: relative;
    top: 15%;
    background-color: white;
    border-radius: 12px;
    height: fit-content;
    padding: 15px;
    width: 65vw;
}

.tempText{
    font-weight: 700;
    text-align: center;
}

@media (max-width: 610px){
    .menuCard{
        width: 90vw;
    }
}